body{background-color: rgb(15, 50, 82);

}
body,h1{margin-left: 10px;
color: brown;
}

.parent{
    padding: 25px;
    background-color:blanchedalmond;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    height: 350px;
    align-items: center;
    flex-direction:column;
    flex-wrap: wrap;
}


.child{
    border: 2px solid rgb(15, 158, 160);
    background-color:  rgb(178, 225, 229);
    padding: 20px;
    font-size: 20px;
    /* margin: 10px 0; */
    
}